@font-face {
  font-family: 'Baloo';
  font-weight: 500;
  src: url('../assets/fonts/Baloo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Baloo';
  font-weight: 600;
  src: url('../assets/fonts/Baloo-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Baloo';
  font-weight: 700;
  src: url('../assets/fonts/Baloo-Bold.ttf') format('truetype');
}
