@font-face {
  font-family: 'Overpass';
  font-weight: 400;
  src: url('../assets/fonts/Overpass-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Overpass';
  font-weight: 500;
  src: url('../assets/fonts/Overpass-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Overpass';
  font-weight: 600;
  src: url('../assets/fonts/Overpass-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Overpass';
  font-weight: 700;
  src: url('../assets/fonts/Overpass-Bold.ttf') format('truetype');
}
